{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="text-center">
        <h3 class="mb-4 text-center">
          {% trans "Sign In" %}
        </h3>
        <form class="login"
              method="post"
              action="{% url 'account_login' %}">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group my-3">
            {{ form.login }}
            {{ form.login.errors }}
          </div>
          <div class="form-group mb-3">
            {{ form.password }}
            {{ form.password.errors }}
            <small id="id_password_helptext"
                   class="form-text text-muted d-block my-3">
              {% trans "Your password must contain at least 8 characters." %}
            </small>
          </div>
          {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}" />
          {% endif %}
          <button class="btn button-animation mt-5"
                  type="submit">
            {% trans "Sign In" %}
          </button>
        </form>
        <p class="mt-4 text-center">
          {% blocktrans %}Don't have an account?{% endblocktrans %}
          <a href="{% url 'account_signup' %}"
             class="d-block mt-2">{% trans "Sign up here" %}</a>
        </p>
      </div>
    </div>
  </div>
{% endblock content %}
