{% extends "base.html" %}

{% load i18n %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="p-4">
          <div class="card-body">
            <h3 class="mb-4 text-center">
              <i class="fas fa-sign-out-alt"></i> {% trans "Sign Out" %}
            </h3>
            <p class="text-center">
              <i class="fas fa-question-circle"></i> {% trans "Are you sure you want to sign out?" %}
            </p>
            <form method="post"
                  action="{% url 'account_logout' %}">
              {% csrf_token %}
              {% if redirect_field_value %}
                <input name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
              {% endif %}
              <button class="btn btn-warning w-100"
                      type="submit">
                <i class="fas fa-sign-out-alt"></i> {% trans "Sign Out" %}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
