{% extends "base.html" %}

{% block title %}
  Password Change Successful
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h3 class="mb-4">
          Password Change Successful
        </h3>
        <p>
          Your password has been changed successfully.
        </p>
        <a href="{% url 'profile' %}"
           class="btn btn-primary">Go to Profile</a>
      </div>
    </div>
  </div>
{% endblock content %}
