{% extends "base.html" %}

{% block title %}
  Auto Match Profiles
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="text-center mb-4">
      <i class="fas fa-users"></i> Automatically Matched Profiles
    </h1>
    <div class="text-center mb-4">
      <a href="{% url 'match_profiles' %}"
         class="btn btn-secondary">
        <i class="fas fa-search"></i> Manual Search
      </a>
    </div>
    <div class="text-center mb-4">
      The auto-match feature uses your profile information such as interests and age to find the best matches for you. Make sure your profile is complete to get the best results.
    </div>
    {% if profiles %}
      <h2 class="mt-5">
        <i class="fas fa-user-friends"></i> Matching Profiles
      </h2>
      <div class="row">
        {% for profile in profiles %}
          <div class="col-md-4">
            <div class="mb-4">
              <div class="profile-card">
                <img src="{{ profile.profile_picture.url }}"
                     class="card-img-top img-fluid rounded mb-1"
                     alt="{{ profile.username }}"
                     height="200"
                     width="200"
                     title="{{ profile.username }}" />
                <div class="username-overlay">
                  {{ profile.username }}
                </div>
              </div>
              <div class="card-body">
                <div class="card-text my-2">
                  <i class="fas fa-birthday-cake"></i> Age: {{ profile.age }}
                  <br />
                  <i class="fas fa-info-circle"></i> About: {{ profile.about }}
                  <br />
                  <i class="fas fa-heart"></i> Interests: {{ profile.interests }}
                </div>
                <a href="{% url 'user_profile' profile.id %}"
                   class="btn button-animation mt-2 w-100">
                  <i class="fas fa-info-circle"></i> Read more
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center">
        <i class="fas fa-exclamation-circle"></i> No matching profiles found.
        <small class="d-block mt-3">
          Please ensure your profile is complete with your interests, age, and other relevant information to improve your chances of finding a match.
        </small>
      </div>
    {% endif %}
  </div>
{% endblock content %}
