{% extends "base.html" %}

{% load static %}

{% block title %}
  Giggle Dates
{% endblock title %}

{% block content %}
  <div class="container my-5">
    <div class="row align-items-center">
      <div class="col-md-6 text-center">
        <!-- Logo Image -->
        <img class="img-fluid"
             src="{% static 'images/logo.webp' %}"
             alt="Logo"
             width="300"
             height="300"
             aria-label="Giggle Dates Logo" />
      </div>
      <div class="col-md-6">
        <h1>
          <i class="fas fa-heart"></i> Welcome to Giggle Dates
        </h1>
        <p>
          Your journey to finding love starts here. Join our inclusive community and connect with like-minded individuals.
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <!-- Section: Find Your Perfect Match -->
        <h2>
          <i class="fas fa-search"></i> Find Your Perfect Match
        </h2>
        <p>
          At Giggle Dates, we believe that everyone deserves to find love and happiness. Our community is built on trust, respect, and inclusivity. Whether you're looking for a soulmate or new friends, Giggle Dates is the place to start your journey.
        </p>
      </div>
    </div>
    <div class="row my-5">
      <div class="col-12">
        <!-- Section: Real Connections, Real People -->
        <h2>
          <i class="fas fa-users"></i> Real Connections, Real People
        </h2>
        <p>
          Our members are genuine people looking for meaningful connections. We provide a safe and welcoming environment where you can be yourself and meet others who share your values and interests.
        </p>
      </div>
    </div>
    <!-- Sign Up Call to Action for Unauthenticated Users -->
    {% if not user.is_authenticated %}
      <div class="row my-5 text-center">
        <div class="col-12">
          <h2>
            <i class="fas fa-sign-in-alt"></i> Start Your Journey Today!
          </h2>
          <p>
            Sign up now and take the first step towards finding love and companionship. It's free and only takes a few minutes to create your profile.
          </p>
          <a href="{% url 'account_signup' %}"
             class="btn button-animation"
             aria-label="Sign Up Button">
            <i class="fas fa-user-plus"></i> Sign Up
          </a>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock content %}
