{% extends "base.html" %}
{% load static %}

{% block title %}
  Giggle Dates
{% endblock title %}

{% block content %}
<div class="hero">
  <img class="img-main img-fluid"
         src="{% static 'images/logo.webp' %}"
         alt="Logo"
         width="300"
         height="300" />
  <div class="hero-text">
    <h1>Welcome to Giggle Dates</h1>
    <p>Your journey to finding love starts here. Join our inclusive community and connect with like-minded individuals.</p>
  </div>
</div>
{% endblock content %}
