{% extends "base.html" %}

{% block title %}
  Match Profiles
{% endblock title %}

{% block content %}
  <div class="container">
    <h1 class="text-center mb-4">
      <i class="fas fa-heart"></i> Find Your Match
    </h1>
    <form method="get"
          action="{% url 'match_profiles' %}">
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="gender"
                 class="form-label">
            <i class="fas fa-venus-mars"></i> Gender
          </label>
          <select id="gender"
                  name="gender"
                  class="form-select">
            <option value="">
              Any
            </option>
            {% for key, value in user.GENDER_CHOICES %}
              <option value="{{ key }}">
                {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="sexual_orientation"
                 class="form-label">
            <i class="fas fa-rainbow"></i> Sexual Orientation
          </label>
          <select id="sexual_orientation"
                  name="sexual_orientation"
                  class="form-select">
            <option value="">
              Any
            </option>
            {% for key, value in user.SEXUAL_ORIENTATION_CHOICES %}
              <option value="{{ key }}">
                {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="age_range"
                 class="form-label">
            <i class="fas fa-hourglass-half"></i> Age Range
          </label>
          <select id="age_range"
                  name="age_range"
                  class="form-select">
            <option value="">
              Any
            </option>
            {% for key, value in user.AGE_RANGE_CHOICES %}
              <option value="{{ key }}">
                {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="col-md-6">
          <label for="interests"
                 class="form-label">
            <i class="fas fa-star"></i> Interests
          </label>
          <select id="interests"
                  name="interests"
                  class="form-select">
            <option value="">
              Any
            </option>
            {% for key, value in user.GENDER_CHOICES %}
              <option value="{{ key }}">
                {{ value }}
              </option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <button type="submit"
                class="btn button-animation">
          <i class="fas fa-search"></i> Search
        </button>
        <a href="{% url 'auto_match_profiles' %}"
           class="btn button-animation">
          <i class="fas fa-magic"></i> Auto Match
        </a>
      </div>
    </form>
    {% if profiles %}
      <h2 class="mt-5">
        <i class="fas fa-user-friends"></i> Matching Profiles
      </h2>
      <div class="row">
        {% for profile in profiles %}
          <div class="col-md-4">
            <div class="mb-4">
              <div class="profile-card">
                <img src="{{ profile.profile_picture.url|default:'path/to/placeholder.jpg' }}"
                     class="card-img-top img-fluid rounded mb-1"
                     alt="{{ profile.username }}"
                     height="200"
                     width="200"
                     title="{{ profile.username }}" />
                <div class="username-overlay">
                  {{ profile.username }}
                </div>
              </div>
              <div class="card-body">
                <div class="card-text my-2">
                  <i class="fas fa-birthday-cake"></i> Age: {{ profile.age }}
                  <br />
                  <i class="fas fa-info-circle"></i> About: {{ profile.about }}
                  <br />
                  <i class="fas fa-heart"></i> Interests: {{ profile.interests }}
                </div>
                <a href="{% url 'user_profile' profile.id %}"
                   class="btn button-animation mt-2 w-100">
                  <i class="fas fa-info-circle"></i> Read more
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endblock content %}
