{% extends "base.html" %}

{% block title %}
  Gallery
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10 text-center">
        <h1 class="text-center mb-4">
          <i class="fas fa-images"></i> Gallery
        </h1>
        <form method="post"
              enctype="multipart/form-data"
              aria-label="Gallery Form">
          {% csrf_token %}
          {{ form.non_field_errors }}
          <div class="form-group my-3">
            {{ form.image }}
            {{ form.image.errors }}
          </div>
          <button type="submit"
                  class="btn btn-primary">
            <i class="fas fa-upload"></i> Upload Image
          </button>
        </form>
        <h2 class="mt-5">
          <i class="fas fa-image"></i> Uploaded Images
        </h2>
        <div class="row">
          {% for image in images %}
            <div class="col-md-4 mb-4">
              <img src="{{ image.image.url }}"
                   class="img-fluid rounded"
                   alt="Gallery Image"
                   width="300"
                   height="200" />
              <form method="post"
                    class="mt-2"
                    aria-label="Delete Image Form">
                {% csrf_token %}
                <input type="hidden"
                       name="image_id"
                       value="{{ image.id }}" />
                <button type="submit"
                        name="delete_image"
                        class="btn btn-danger btn-sm">
                  <i class="fas fa-trash-alt"></i> Delete
                </button>
              </form>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
