@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&family=Merriweather:wght@300;400;700&family=Roboto:wght@300;400;500;700&family=Lexend+Deca:wght@300;400;500;700&display=swap");

:root {
  --background-light: #c1d2eb;
  --background-dark: #15293b;
  --color-light: #222;
  --color-dark: #ddd;
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --button-background: #ff4d4d;
  --button-background-hover: #ff6666;
  --button-background-active: #b30000;
  --hero-color: rgb(21, 76, 255);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: var(--color-light);
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

body.loaded {
  opacity: 1;
}

body.light,
input,
textarea,
select {
  background-color: var(--background-light) !important;
  color: var(--color-light) !important;
}

body.dark,
input,
textarea,
select {
  background-color: var(--background-dark) !important;
  color: var(--color-dark) !important;
}

body.default {
  font-family: "Inter", sans-serif;
}

body.serif {
  font-family: "Merriweather", serif;
}

body.sans-serif {
  font-family: "Roboto", sans-serif;
}

body.dyslexie {
  font-family: "Lexend Deca", sans-serif;
}

.navbar-toggler {
  border: 1px solid transparent;
  background-color: transparent;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s;
  border: none !important;
}

.navbar-toggler:focus {
  border-color: none !important;
  box-shadow: none !important;
}

.navbar-toggler:active {
  transform: scale(0.95);
}

.navbar-toggler .fa-bars-staggered {
  color: var(--button-background);
  transition: color 0.3s, transform 0.2s;
}

.navbar-toggler:active .fa-bars-staggered:active {
  transform: scale(0.9);
}

.hero {
  position: relative;
  text-align: center;
  color: var(--hero-color);
  padding: 50px 0;
}

.hero-image {
  width: 70%;
  max-width: 600px;
  margin: 0 auto;
  display: block;
  border-radius: 10px;
}

.hero-text {
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: 20px auto 0;
}

.profile-container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.image-upload-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
}

.profile-form label {
  margin-top: 10px;
  font-weight: 600;
}

.profile-form input,
.profile-form textarea {
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.profile-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form button:hover {
  background-color: var(--primary-color-hover);
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#message-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 25rem;
  z-index: 1000;
}

.navLink .footer-link,
.footer .footer-link {
  text-decoration: none;
}

body.light .navLink .footer-link,
body.light .footer .footer-link {
  color: #000000;
}

body.dark .navLink .footer-link,
body.dark .footer .footer-link {
  color: #ffffff;
}

.button-animation {
  padding: 0.4em 1.6em;
  border: none;
  outline: none;
  color: #ffffff;
  background: var(--button-background);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  transition: transform 0.3s ease-in-out;
}

.button-animation:hover {
  transform: scale(1.05);
}

.button-animation:before {
  content: "";
  background: linear-gradient(
    45deg,
    var(--button-background-hover),
    var(--button-background),
    #ff3333,
    #ff1a1a,
    #ff0000,
    var(--button-background-hover),
    var(--button-background),
    #ff3333,
    var(--button-background-hover)
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-animation 10s linear infinite;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-animation:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--button-background-active);
  left: 0;
  top: 0;
  border-radius: 10px;
}
