/* General body styles */
body {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  color: #222;
}

body.light {
  background: linear-gradient(to right, #e0eafc, #cfdef3);
  color: #222;
}

body.dark {
  background: linear-gradient(to right, #2c3e50, #34495e);
  color: #ddd;
}

body.default {
  font-family: "Inter", sans-serif;
}

body.serif {
  font-family: "Times New Roman", Times, serif;
}

body.sans-serif {
  font-family: "Arial", Helvetica, sans-serif;
}

body.dyslexie {
  font-family: "Lexend", serif;
}

/* About page styles */
.hero {
  position: relative;
  text-align: center;
  color: rgb(21, 76, 255);
}

.hero-image {
  width: 70%;
  padding-bottom: 50px;
}

.hero-text {
  top: 50%;
  left: 50%;
  padding: 20px;
  border-radius: 10px;
}

/* Profile page styles */
.profile-container {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.image-upload-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.profile-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-form label {
  margin-top: 10px;
}

.profile-form input,
.profile-form textarea {
  margin-bottom: 10px;
  width: 100%;
  max-width: 300px;
  padding: 5px;
}

.profile-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile-form button:hover {
  background-color: #0056b3;
}

.profile-picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}

/* Message container styles */
#message-container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 25rem;
  z-index: 1000;
}

/* Navigation and footer link styles */
.navLink .footer-link,
.footer .footer-link {
  text-decoration: none;
}

body.light .navLink .footer-link,
body.light .footer .footer-link {
  color: #000000;
}

body.dark .navLink .footer-link,
body.dark .footer .footer-link {
  color: #ffffff;
}

/* custom button */
.button-animation {
  padding: 0.4em 1.6em;
  border: none;
  outline: none;
  color: #ffffff;
  background: #ff4d4d;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  transition: transform 0.3s ease-in-out;
}

.button-animation:hover {
  transform: scale(1.05);
}

.button-animation:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff6666,
    #ff4d4d,
    #ff3333,
    #ff1a1a,
    #ff0000,
    #ff6666,
    #ff4d4d,
    #ff3333,
    #ff6666
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-animation 10s linear infinite;
  transition: opacity 0.5s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-animation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-animation:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #b30000;
  left: 0;
  top: 0;
  border-radius: 10px;
}
