{% extends "base.html" %}

{% block title %}
  About
{% endblock title %}

{% block content %}
<div class="hero">
  <img src="static\images\new-design2.png" alt="Hero Image" class="hero-image">
  <div class="hero-text">
    <h1>About GiggleDates</h1>
    <p>Welcome to our inclusive dating app, where we celebrate diversity and help people from all walks of life find love. <br>
      Whether you're looking for a serious relationship or just want to meet new people, <br>
      our app is designed to connect you with like-minded individuals <br>
      who share your interests and values.</p>
  </div>
</div>
{% endblock content %}
